* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    background: black;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
}


.kvadrat {
    height: 50px;
    width: 400px;
    border: 8px solid blue;
    margin-top: 5%;
    
}

.kvadrat_2 {
    height: 200px;
    width: 400px;
    border: 15px solid blue;
    margin-top: 5%;
}

.kvadrat_3 {
    height: 100px;
    width: 400px;
    border: 50px solid blue;
    margin-top: 5%;
}